# Making your next move using [Numbeo](https://www.numbeo.com)

In [1]:
import pandas as pd

current_city = "Stockholm, Sweden"

In [2]:
def get_numbeo_dataframe(url, metric_column, current_city, lower_is_better = True, table_index = 2):
    df = pd.read_html(url)[table_index]
    df = df[["City", metric_column]]    

    df_current = df[df.City == current_city].iloc[0]

    if lower_is_better:
        df = df[df[metric_column] < df_current[metric_column]]
    else:
        df = df[df[metric_column] > df_current[metric_column]]
        
    df = df.sort_values(metric_column, ascending = lower_is_better)    
    
    return df

## Purchasing Power

In [3]:
purchasing_power = get_numbeo_dataframe("https://www.numbeo.com/cost-of-living/rankings_current.jsp", 
                                        "Local Purchasing Power Index", 
                                        current_city, 
                                        lower_is_better = False)

purchasing_power

                                  City  Local Purchasing Power Index
45         San Jose, CA, United States                        172.52
193       Al Ain, United Arab Emirates                        166.96
98          Raleigh, NC, United States                        160.35
137          Dallas, TX, United States                        158.08
121                Canberra, Australia                        146.53
169         Houston, TX, United States                        146.52
74          Atlanta, GA, United States                        145.47
49        Charlotte, NC, United States                        145.34
172  Salt Lake City, UT, United States                        144.68
99           Austin, TX, United States                        143.94
132                 Karlsruhe, Germany                        143.09
147         Phoenix, AZ, United States                        143.05
180              Derby, United Kingdom                        141.87
133     Bakersfield, CA, United States                        141.07
21          Seattle, WA, United States                        139.71
162                   Hanover, Germany                        139.30
1                  Zurich, Switzerland                        138.89
140     Saint Louis, MO, United States                        137.40
202                        Doha, Qatar                        136.70
71        San Diego, CA, United States                        136.48
171         Madison, WI, United States                        136.40
129                  Mannheim, Germany                        135.78
109     Kansas City, MO, United States                        135.13
131       Nashville, TN, United States                        134.51
19          Oakland, CA, United States                        134.28
14    San Francisco, CA, United States                        134.05
125       Las Vegas, NV, United States                        133.70
139      Fort Worth, TX, United States                        133.67
187            Reno, NV, United States                        133.61
40          Chicago, IL, United States                        133.36
..                                 ...                           ...
48                    Tampere, Finland                        110.33
68                     Munich, Germany                        110.33
93        Cleveland, OH, United States                        110.12
6                    Stavanger, Norway                        110.08
66             Maastricht, Netherlands                        109.48
85          Buffalo, NY, United States                        109.48
191          Sheffield, United Kingdom                        109.35
18                 Copenhagen, Denmark                        109.29
59       Pittsburgh, PA, United States                        109.15
72                    Hamburg, Germany                        108.24
50       Bellingham, WA, United States                        108.13
158                     Regina, Canada                        107.97
186                   Montreal, Canada                        107.86
97                     Uppsala, Sweden                        107.85
11                   Trondheim, Norway                        107.72
197                   Winnipeg, Canada                        107.62
82             Wellington, New Zealand                        107.58
178    Abu Dhabi, United Arab Emirates                        106.60
65                    Toulouse, France                        106.41
166       Knoxville, TN, United States                        105.74
33           Albany, NY, United States                        105.65
182                  Coquitlam, Canada                        105.63
160          Leicester, United Kingdom                        105.62
149                    Kelowna, Canada                        105.45
36                   Helsinki, Finland                        105.32
104               Singapore, Singapore                        105.08
10                      Bergen, Norway                        105.05
122                    Berlin, Germany                        104.99
94              Rotterdam, Netherlands                        104.49
112                      Bonn, Germany                        104.12

[135 rows x 2 columns]

## Property Prices

In [4]:
property_prices = get_numbeo_dataframe("https://www.numbeo.com/property-investment/rankings_current.jsp", 
                                        "Price To Income Ratio", current_city)

property_prices

                                   City  Price To Income Ratio
309           Toledo, OH, United States                   1.36
308          Memphis, TN, United States                   1.42
307        Cleveland, OH, United States                   1.52
306          Detroit, MI, United States                   1.72
305       Greenville, SC, United States                   1.73
304            Tulsa, OK, United States                   1.86
303          Buffalo, NY, United States                   1.97
302     Jacksonville, FL, United States                   2.03
301      Little Rock, AR, United States                   2.05
300      Kansas City, MO, United States                   2.08
299       Fort Worth, TX, United States                   2.11
298          Houston, TX, United States                   2.20
297       Pittsburgh, PA, United States                   2.21
296     Indianapolis, IN, United States                   2.26
295      San Antonio, TX, United States                   2.28
294         Columbus, OH, United States                   2.31
293           Dallas, TX, United States                   2.36
292      Saint Louis, MO, United States                   2.38
290        Charlotte, NC, United States                   2.40
291       Cincinnati, OH, United States                   2.40
289      Bakersfield, CA, United States                   2.43
288    Oklahoma City, OK, United States                   2.46
287     Grand Rapids, MI, United States                   2.46
286        Anchorage, AK, United States                   2.53
285          Raleigh, NC, United States                   2.58
284        Baltimore, MD, United States                   2.59
283           Tucson, AZ, United States                   2.62
282       Louisville, KY, United States                   2.64
281              Pretoria, South Africa                   2.71
280   Virginia Beach, VA, United States                   2.77
..                                  ...                    ...
92                 Bratislava, Slovakia                  12.40
91                   Almaty, Kazakhstan                  12.43
90                 Porto Alegre, Brazil                  12.46
89                     Istanbul, Turkey                  12.48
88                     Brasilia, Brazil                  12.49
87              Nizhny Novgorod, Russia                  12.67
86                      Vienna, Austria                  12.68
85                          Ufa, Russia                  12.70
84                         Cairo, Egypt                  12.75
83                      Porto, Portugal                  12.81
82                  Montevideo, Uruguay                  12.88
81                     Tbilisi, Georgia                  12.89
80                      Toronto, Canada                  13.08
79    Santo Domingo, Dominican Republic                  13.14
78   Banja Luka, Bosnia And Herzegovina                  13.15
77                    Chisinau, Moldova                  13.17
76                   Vilnius, Lithuania                  13.19
75                    Dhaka, Bangladesh                  13.23
74                   Guayaquil, Ecuador                  13.27
73                     Kharkiv, Ukraine                  13.38
72                  Ljubljana, Slovenia                  13.38
71                         Tokyo, Japan                  13.39
70                 Cluj-Napoca, Romania                  13.44
69                     Barcelona, Spain                  13.75
68            San Salvador, El Salvador                  13.92
67                     Curitiba, Brazil                  14.03
66             Saint Petersburg, Russia                  14.04
65     Sarajevo, Bosnia And Herzegovina                  14.05
64                       Minsk, Belarus                  14.10
63                        Kiev, Ukraine                  14.29

[247 rows x 2 columns]

## Crime

In [5]:
crime = get_numbeo_dataframe("https://www.numbeo.com/crime/rankings_current.jsp", "Crime Index", current_city)
crime

                                City  Crime Index
335  Abu Dhabi, United Arab Emirates        10.97
334                      Doha, Qatar        12.17
333              Quebec City, Canada        14.72
332                     Osaka, Japan        14.88
331                   Taipei, Taiwan        15.86
330                     Tokyo, Japan        16.48
329      Dubai, United Arab Emirates        16.88
328                  Munich, Germany        16.98
327        Irvine, CA, United States        17.08
326               Basel, Switzerland        17.13
325                Eskisehir, Turkey        17.37
324                  Rijeka, Croatia        18.04
323              Zurich, Switzerland        18.27
322             Hong Kong, Hong Kong        19.32
321                 Tbilisi, Georgia        19.76
320                 Tallinn, Estonia        20.52
319               Reykjavik, Iceland        20.71
318             Singapore, Singapore        21.17
317             Cluj-Napoca, Romania        21.20
316              Canberra, Australia        21.34
315                 Aalborg, Denmark        21.39
314                Trondheim, Norway        22.35
313                 Yerevan, Armenia        22.37
312                  Vienna, Austria        22.55
311                Helsinki, Finland        22.58
310              Ljubljana, Slovenia        22.82
309                   Merida, Mexico        22.82
308                   Minsk, Belarus        22.99
307                 Tampere, Finland        23.23
306                  Brasov, Romania        23.51
..                               ...          ...
160            Gold Coast, Australia        44.02
159               Frankfurt, Germany        44.12
158      New York, NY, United States        44.13
157                  Sofia, Bulgaria        44.29
155                Chisinau, Moldova        44.33
156             Melbourne, Australia        44.33
154                   Cancun, Mexico        44.34
153                     Milan, Italy        44.42
152                  Bali, Indonesia        44.47
151                 Kharkiv, Ukraine        44.58
150       Seattle, WA, United States        44.68
149                Skopje, Macedonia        44.81
148          Glasgow, United Kingdom        44.86
147              Novosibirsk, Russia        44.95
146                  Beirut, Lebanon        45.06
145     Charlotte, NC, United States        45.17
144                     Lodz, Poland        45.18
143      Portland, OR, United States        45.23
142              Panama City, Panama        45.70
140                Bangkok, Thailand        45.75
141                 Bangalore, India        45.75
139            Auckland, New Zealand        46.00
138                   Bologna, Italy        46.03
137               Medellin, Colombia        46.08
136   San Antonio, TX, United States        46.11
135                Cebu, Philippines        46.13
134             Kristiansand, Norway        46.28
133                   London, Canada        46.39
132                 Hamburg, Germany        46.61
131   Los Angeles, CA, United States        47.08

[205 rows x 2 columns]

## Health Care

In [6]:
health_care = get_numbeo_dataframe("https://www.numbeo.com/health-care/rankings_current.jsp", 
                                   "Health Care Index", current_city, lower_is_better = False)

health_care

                                  City  Health Care Index
0                      Cuenca, Ecuador              88.63
1                       Taipei, Taiwan              85.38
2                 Chiang Mai, Thailand              85.19
3              Glasgow, United Kingdom              84.35
4                Leeds, United Kingdom              83.89
5                   Seoul, South Korea              83.89
6              Nizhny Novgorod, Russia              83.88
7                        Gent, Belgium              83.72
8                     Hamilton, Canada              82.51
9                  Brisbane, Australia              82.20
10                     Valencia, Spain              82.10
11                     Munich, Germany              80.66
12                        Tokyo, Japan              80.65
13           Edinburgh, United Kingdom              80.38
14      Minneapolis, MN, United States              80.03
15                 Canberra, Australia              79.91
16                       Bursa, Turkey              79.35
17                     Vienna, Austria              79.05
18                    Hamburg, Germany              78.98
19   The Hague (Den Haag), Netherlands              78.68
20                       Madrid, Spain              78.58
21                   Bangkok, Thailand              78.52
22                   Pattaya, Thailand              78.36
23                    Mangalore, India              78.31
24                 Guadalajara, Mexico              78.18
25                   Brussels, Belgium              78.16
26              Luxembourg, Luxembourg              78.10
27                    Edmonton, Canada              78.08
28          Manchester, United Kingdom              77.70
29                    Antwerp, Belgium              77.22
..                                 ...                ...
80                  Gothenburg, Sweden              71.10
81                     Halifax, Canada              71.09
82                        Milan, Italy              71.06
83           Denver, CO, United States              70.96
84                    Lisbon, Portugal              70.76
85                      Chennai, India              70.76
86              Amsterdam, Netherlands              70.74
87       Sacramento, CA, United States              70.71
88                    Tallinn, Estonia              70.65
89           Austin, TX, United States              70.58
90         Portland, OR, United States              70.31
91                Singapore, Singapore              70.30
92                     Berlin, Germany              70.27
93                   Coimbatore, India              70.26
94   Salt Lake City, UT, United States              70.19
95                 Geneva, Switzerland              69.92
96         Honolulu, HI, United States              69.92
97             Belfast, United Kingdom              69.65
98             Buenos Aires, Argentina              69.58
99      San Antonio, TX, United States              69.24
100    Indianapolis, IN, United States              68.96
101        San Jose, CA, United States              68.83
102                    Beirut, Lebanon              68.81
103    Abu Dhabi, United Arab Emirates              68.74
104                   Ahmedabad, India              68.70
105                   Bangalore, India              68.55
106                   Winnipeg, Canada              68.47
107         Chicago, IL, United States              68.37
108                        Pune, India              68.18
109                Mississauga, Canada              68.16

[110 rows x 2 columns]

## Combined Result

In [7]:
from functools import reduce

dfs = [purchasing_power, property_prices, crime, health_care]
df_combined = reduce(lambda left, right: pd.merge(left, right, on = "City"), dfs)

df_combined["Country"] = df_combined.City.str.split(", ").str[-1]
countries_interested = ["United States", "Canada", "Australia", "United Kingdom", "Ireland", "South Africa", "New Zealand"]
df_combined = df_combined[df_combined.Country.isin(countries_interested)]

df_combined.sort_values("Price To Income Ratio", ascending = True)

,City,Local Purchasing Power Index,Price To Income Ratio,Crime Index,Health Care Index,Country
9,"San Antonio, TX, United States",132.51,2.28,46.11,69.24,United States
14,"Columbus, OH, United States",127.26,2.31,42.36,75.28,United States
1,"Raleigh, NC, United States",160.35,2.58,30.57,74.93,United States
3,"Salt Lake City, UT, United States",144.68,3.63,25.20,70.19,United States
4,"Austin, TX, United States",143.94,4.03,34.60,70.58,United States
22,"Edmonton, Canada",119.21,4.47,41.72,78.08,Canada
15,"Denver, CO, United States",126.75,4.79,42.15,70.96,United States
13,"Ottawa, Canada",130.34,4.82,24.42,74.58,Canada
17,"Portland, OR, United States",123.51,4.93,45.23,70.31,United States
10,"Calgary, Canada",131.55,5.23,31.45,76.24,Canada
2,"Canberra, Australia",146.53,5.44,21.34,79.91,Australia
8,"San Diego, CA, United States",136.48,6.01,36.18,71.77,United States
0,"San Jose, CA, United States",172.52,6.10,41.96,68.83,United States
5,"Seattle, WA, United States",139.71,6.16,44.68,72.51,United States
12,"Perth, Australia",130.70,6.35,43.67,77.13,Australia
11,"Brisbane, Australia",130.85,6.50,34.34,82.20,Australia
28,"Wellington, New Zealand",107.58,7.33,28.98,72.85,New Zealand
18,"Boston, MA, United States",122.42,8.42,33.21,75.60,United States
20,"Melbourne, Australia",120.99,9.15,44.33,75.18,Australia
21,"Sydney, Australia",120.76,10.97,38.54,72.76,Australia