# Making your next move using [Numbeo](https://www.numbeo.com)

In [66]:
import pandas as pd

current_city = "Stockholm, Sweden"

## Purchasing Power

In [87]:
purchasing_power = pd.read_html("https://www.numbeo.com/cost-of-living/rankings_current.jsp")[2]
purchasing_power_column = "Local Purchasing Power Index"
purchasing_power = purchasing_power[["City", purchasing_power_column]]


purchasing_power_current = purchasing_power[purchasing_power.City == current_city].iloc[0]

purchasing_power = purchasing_power[purchasing_power[purchasing_power_column] > purchasing_power_current[purchasing_power_column]]
purchasing_power.sort_values(purchasing_power_column, ascending = False)

                                  City  Local Purchasing Power Index
49         San Jose, CA, United States                        172.54
196       Al Ain, United Arab Emirates                        166.96
102         Raleigh, NC, United States                        160.38
142          Dallas, TX, United States                        158.08
114                Canberra, Australia                        146.53
172         Houston, TX, United States                        146.52
76          Atlanta, GA, United States                        145.47
51        Charlotte, NC, United States                        145.34
176  Salt Lake City, UT, United States                        144.66
104          Austin, TX, United States                        143.94
126                 Karlsruhe, Germany                        143.09
153         Phoenix, AZ, United States                        143.05
175              Derby, United Kingdom                        141.87
137     Bakersfield, CA, United States                        141.07
21          Seattle, WA, United States                        139.71
161                   Hanover, Germany                        139.30
1                  Zurich, Switzerland                        138.87
143     Saint Louis, MO, United States                        137.18
74        San Diego, CA, United States                        136.48
174         Madison, WI, United States                        136.40
203                        Doha, Qatar                        136.29
125                  Mannheim, Germany                        135.78
136       Nashville, TN, United States                        135.68
118     Kansas City, MO, United States                        135.13
19          Oakland, CA, United States                        134.28
14    San Francisco, CA, United States                        134.05
131       Las Vegas, NV, United States                        133.70
144      Fort Worth, TX, United States                        133.67
187            Reno, NV, United States                        133.61
41          Chicago, IL, United States                        133.36
..                                 ...                           ...
67                     Munich, Germany                        110.33
97        Cleveland, OH, United States                        110.12
6                    Stavanger, Norway                        110.08
65             Maastricht, Netherlands                        109.48
89          Buffalo, NY, United States                        109.48
194          Sheffield, United Kingdom                        109.35
18                 Copenhagen, Denmark                        109.29
69                    Hamburg, Germany                        109.23
61       Pittsburgh, PA, United States                        109.21
52       Bellingham, WA, United States                        108.13
162                     Regina, Canada                        107.97
94                     Uppsala, Sweden                        107.85
186                   Montreal, Canada                        107.84
11                   Trondheim, Norway                        107.72
198                   Winnipeg, Canada                        107.62
81             Wellington, New Zealand                        107.57
182    Abu Dhabi, United Arab Emirates                        106.48
64                    Toulouse, France                        106.41
169       Knoxville, TN, United States                        105.74
34           Albany, NY, United States                        105.65
184                  Coquitlam, Canada                        105.63
158          Leicester, United Kingdom                        105.62
151                    Kelowna, Canada                        105.45
10                      Bergen, Norway                        105.32
37                   Helsinki, Finland                        105.32
111               Singapore, Singapore                        105.11
120                    Berlin, Germany                        104.64
91              Rotterdam, Netherlands                        104.49
110                      Bonn, Germany                        104.12
113                 Nuremberg, Germany                        104.11

[136 rows x 2 columns]

## Property Prices

In [88]:
property_prices = pd.read_html("https://www.numbeo.com/property-investment/rankings_current.jsp")[2]
price_to_income_ratio_column = "Price To Income Ratio"
property_prices = property_prices[["City", price_to_income_ratio_column]]

property_prices_current = property_prices[property_prices.City == current_city].iloc[0]

property_prices = property_prices[property_prices[price_to_income_ratio_column] < property_prices_current[price_to_income_ratio_column]]
property_prices.sort_values(price_to_income_ratio_column)

                                   City  Price To Income Ratio
309           Toledo, OH, United States                   1.36
308          Memphis, TN, United States                   1.42
307        Cleveland, OH, United States                   1.52
306          Detroit, MI, United States                   1.72
305       Greenville, SC, United States                   1.73
304            Tulsa, OK, United States                   1.86
303          Buffalo, NY, United States                   1.97
302     Jacksonville, FL, United States                   2.03
301      Little Rock, AR, United States                   2.05
300      Kansas City, MO, United States                   2.08
299       Fort Worth, TX, United States                   2.11
298          Houston, TX, United States                   2.20
297       Pittsburgh, PA, United States                   2.21
296     Indianapolis, IN, United States                   2.26
295      San Antonio, TX, United States                   2.28
294         Columbus, OH, United States                   2.31
293           Dallas, TX, United States                   2.36
292      Saint Louis, MO, United States                   2.38
290        Charlotte, NC, United States                   2.40
291       Cincinnati, OH, United States                   2.40
289      Bakersfield, CA, United States                   2.43
288    Oklahoma City, OK, United States                   2.46
287     Grand Rapids, MI, United States                   2.46
286        Anchorage, AK, United States                   2.53
285          Raleigh, NC, United States                   2.58
284        Baltimore, MD, United States                   2.59
283       Louisville, KY, United States                   2.64
282           Tucson, AZ, United States                   2.64
281              Pretoria, South Africa                   2.71
280   Virginia Beach, VA, United States                   2.77
..                                  ...                    ...
92                 Bratislava, Slovakia                  12.40
91                   Almaty, Kazakhstan                  12.43
90                 Porto Alegre, Brazil                  12.46
89                     Istanbul, Turkey                  12.48
88                     Brasilia, Brazil                  12.49
87                      Vienna, Austria                  12.63
86              Nizhny Novgorod, Russia                  12.66
85                          Ufa, Russia                  12.69
84                         Cairo, Egypt                  12.75
83                     Tbilisi, Georgia                  12.77
82                      Porto, Portugal                  12.81
81                  Montevideo, Uruguay                  12.88
80                      Toronto, Canada                  13.08
79    Santo Domingo, Dominican Republic                  13.14
78   Banja Luka, Bosnia And Herzegovina                  13.15
77                    Chisinau, Moldova                  13.16
76                   Vilnius, Lithuania                  13.19
75                    Dhaka, Bangladesh                  13.23
74                   Guayaquil, Ecuador                  13.27
73                     Kharkiv, Ukraine                  13.38
72                  Ljubljana, Slovenia                  13.38
71                         Tokyo, Japan                  13.39
70                 Cluj-Napoca, Romania                  13.44
69                     Barcelona, Spain                  13.81
68            San Salvador, El Salvador                  13.92
67                     Curitiba, Brazil                  14.03
66             Saint Petersburg, Russia                  14.04
65     Sarajevo, Bosnia And Herzegovina                  14.05
64                       Minsk, Belarus                  14.10
63                        Kiev, Ukraine                  14.31

[247 rows x 2 columns]

In [105]:
#df_combined = purchasing_power.set_index("City").join(property_prices.set_index("City"), how = "inner").reset_index()

df_combined = pd.merge(purchasing_power, property_prices, on = "City")
df_combined["Country"] = df_combined.City.str.split(", ").str[-1]

countries_interested = ["United States", "Canada", "Australia", "United Kingdom", "Ireland", "South Africa", "New Zealand"]
df_combined = df_combined[df_combined.Country.isin(countries_interested)]

df_combined.sort_values("Local Purchasing Power Index", ascending = True)

,City,Local Purchasing Power Index,Price To Income Ratio,Country
60,"Kelowna, Canada",105.45,5.36,Canada
69,"Knoxville, TN, United States",105.74,2.98,United States
32,"Wellington, New Zealand",107.57,7.34,New Zealand
80,"Winnipeg, Canada",107.62,4.91,Canada
77,"Montreal, Canada",107.84,7.15,Canada
22,"Bellingham, WA, United States",108.13,5.12,United States
26,"Pittsburgh, PA, United States",109.21,2.21,United States
36,"Buffalo, NY, United States",109.48,1.97,United States
40,"Cleveland, OH, United States",110.12,1.52,United States
14,"Los Angeles, CA, United States",113.41,7.72,United States
65,"Louisville, KY, United States",114.61,2.64,United States
49,"Tucson, AZ, United States",115.10,2.64,United States
56,"Indianapolis, IN, United States",116.83,2.26,United States
51,"Orlando, FL, United States",117.19,2.97,United States
13,"Philadelphia, PA, United States",118.76,3.31,United States
81,"Boise, ID, United States",119.32,3.74,United States
68,"Edmonton, Canada",119.40,4.47,Canada
74,"Tulsa, OK, United States",120.32,1.86,United States
19,"Sydney, Australia",120.76,10.97,Australia
33,"Melbourne, Australia",121.00,9.15,Australia
66,"Albuquerque, NM, United States",122.06,3.05,United States
12,"Boston, MA, United States",122.38,8.42,United States
25,"Portland, OR, United States",123.51,4.93,United States
39,"Tampa, FL, United States",123.83,3.18,United States
24,"Baltimore, MD, United States",125.36,2.59,United States
23,"Minneapolis, MN, United States",125.90,3.11,United States
6,"Washington, DC, United States",126.08,4.85,United States
38,"Denver, CO, United States",126.75,4.79,United States
71,"Cincinnati, OH, United States",126.99,2.40,United States
62,"Columbus, OH, United States",127.26,2.31,United States
...,...,...,...,...
28,"Perth, Australia",130.70,6.35,Australia
48,"Brisbane, Australia",131.02,6.50,Australia
16,"Sacramento, CA, United States",131.20,3.71,United States
52,"Calgary, Canada",131.55,5.23,Canada
79,"Little Rock, AR, United States",132.12,2.05,United States
76,"San Antonio, TX, United States",132.51,2.28,United States
45,"Jacksonville, FL, United States",133.31,2.03,United States
17,"Chicago, IL, United States",133.36,3.54,United States
78,"Reno, NV, United States",133.61,3.59,United States
59,"Fort Worth, TX, United States",133.67,2.11,United States
50,"Las Vegas, NV, United States",133.70,2.78,United States
7,"San Francisco, CA, United States",134.05,9.26,United States
10,"Oakland, CA, United States",134.28,6.14,United States
46,"Kansas City, MO, United States",135.13,2.08,United States
53,"Nashville, TN, United States",135.68,3.06,United States
72,"Madison, WI, United States",136.40,3.30,United States
29,"San Diego, CA, United States",136.48,6.01,United States
58,"Saint Louis, MO, United States",137.18,2.38,United States
11,"Seattle, WA, United States",139.71,6.16,United States
54,"Bakersfield, CA, United States",141.07,2.43,United States
61,"Phoenix, AZ, United States",143.05,2.80,United States
42,"Austin, TX, United States",143.94,4.03,United States
73,"Salt Lake City, UT, United States",144.66,3.63,United States
21,"Charlotte, NC, United States",145.34,2.40,United States
30,"Atlanta, GA, United States",145.47,2.93,United States
70,"Houston, TX, United States",146.52,2.20,United States
44,"Canberra, Australia",146.53,5.44,Australia
57,"Dallas, TX, United States",158.08,2.36,United States
41,"Raleigh, NC, United States",160.38,2.58,United States
20,"San Jose, CA, United States",172.54,6.10,United States